:root {
  --background-color: #fff;
  --text-color: #000;
  --background-red: #FF3131;
  --transition-02: all 0.2s ease;
  --transition-05: all 0.5s ease;
}

body a {
  text-decoration: none;
  color: var(--text-color);
}

.body-espacamento{
  padding: 0 16px;
}

.containerMain {
  max-width: 1245px;
  margin: 0 auto;
}

.material-symbols-outlined,
.fav {
  font-size: 27px !important;
  display: flex;
  align-items: center;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

button {
  color: #fff;
}

img {
  cursor: pointer;
}

.Main {
  margin-top: 80px !important;
}