* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ebedf2;
  --swiper-theme-color: #000;
  list-style: none;
}

/* headerMid */

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  padding-top: 8px;
}

.header button {
  background: transparent;
}

.header .swiper-pitchbar {
  margin: 10px auto;
}

.header-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 21px 31px;
  background: var(--background-red);
  /* box-shadow: 0 0 110px 16px #96C121; */
}

.header-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 21px 31px;
  background: var(--background-red);
  flex-direction: column;
}

.logo {
  cursor: pointer;
  max-width: 150px;
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.container-search-desktop {
  flex: 1 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(50% + 200px);
  gap: 20px;
}

.mobile-center-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.logo div {
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 18px;
}

.logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo strong {
  width: 100%;
  font-size: 29px;
  color: #fff;
  cursor: pointer;
}

.header-form {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 418px;
  width: 100%;
  background-color: white;
  height: 36px;
  border-radius: 10px;
}

.header-form button {
  position: relative;
  min-width: 36px;
  height: 36px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-form input[type="search"] {
  width: 100%;
  padding: 8px 16px;
  background: transparent;
}

.header-form input::placeholder {}

.header-form input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.user span,
.user a,
.user p {
  color: #fff;
}

.user-acount {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuMain {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: white;
}

.menuMain .navigation-item {
  position: static;
  display: flex;
  margin-top: 10px;
  width: 243px;
  height: 48px;
  padding: 12px 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  transition: var(--transition-05);
}

.navigation-item:hover {
  background: var(--background-red);

  .navigationLink {
    color: #fff;
  }
}

.header-navigation__black {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  right: 0;
}

.navigation-item {
  position: relative;
}

.navigation-item:hover .sub-container {
  display: block;
}

.sub-container>.navigation-container__dropdown {
  display: flex;
  /* justify-content: center; */
}

.navigation-container__dropdown {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  max-height: 430px;
  max-width: 1202px;
  padding: 16px;
}

.sub-container {
  position: absolute;
  left: 0;
  top: 58px;
  display: none;
  padding: 33px 0 40px;
  max-height: 430px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.06);
  z-index: 100;
  border-radius: 0 0 10px 10px;
}

.navigation-dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 429px;
  width: 242px;
  list-style: none;
}

.navigation-dropdown li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-dropdown a {
  margin-bottom: 10px;
  padding: 12px 16px;
  transition: var(--transition-05);
  color: var(--background-red);
}

.navigation-dropdown a:hover {
  font-size: 19px;
}

.sub-container-dropdown a {
  padding: 0;
  color: black;
}

.instashop-topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instashop-topo button {
  max-width: 183px;
  width: 100%;
  height: 40px;
  padding: 8px 0px;
  border-radius: 10px;
  background: var(--background-red);
}

.instagram-posts {
  display: grid;
  grid-template-areas:
    "imgA imgA imgA imgB imgB imgB imgC imgC imgC imgD"
    "imgA imgA imgA imgB imgB imgB imgC imgC imgC imgE"
    "imgA imgA imgA imgB imgB imgB imgC imgC imgC imgF";
  grid-row-gap: 14px;
  grid-column-gap: 17px;
}

.instagram-post:nth-child(1) {
  grid-area: imgA;
}

.instagram-post:nth-child(2) {
  grid-area: imgB;
}

.instagram-post:nth-child(3) {
  grid-area: imgC;
}

.instagram-post:nth-child(4) {
  grid-area: imgD;
}

.instagram-post:nth-child(5) {
  grid-area: imgE;
}

.instagram-post:nth-child(6) {
  grid-area: imgF;
}

.instagram-post {
  position: relative;
  display: flex;
}

.instagram-posts img {
  display: block;
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
}

.instagram-post .instashopHover {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: var(--transition-02);
  background: #000;
}

.instagram-post:hover .instashopHover {
  opacity: 0.8;
}

body .rodape {
  margin-bottom: 40px;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  height: auto;
  padding: 37px 70px;
  background: var(--background-red);
  width: 100%;
}

.newsletter-text {
  color: white;
  display: flex;
  max-width: 282px;
  width: 100%;
  flex-direction: column;
  gap: 14px;
}

.newsletter-text h2 {
  font-size: 20px;
}

.newsletter span {
  font-size: 14px;
}

.newsletter-inscricao {
  display: flex;
  flex-direction: column;
}

.newsletter-form label {
  color: white;
}

.newsletter button,
.newsletter input {
  color: var(--swiper-theme-color);
  background: white;
  height: 36px;
  border-radius: 8px;
}

.newsletter button {
  padding: 8px;
  width: 100%;
  max-width: 163px;
}

.newsletter input {
  width: 100%;
  margin-top: 10px;
  max-width: 271px;
  padding: 8px 16px;
}

.newsletter-email {
  display: flex;
  height: 100%;
  align-items: end;
  width: 100%;
  max-width: 730px;
  gap: 17px;
}

.newsletter-aviso,
.newsletter-aviso a {
  margin-top: 10px;
  font-size: 14px;
  color: white;
}

.newsletter-aviso a {
  text-decoration: underline;
}

.socialMedias {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 24px 70px;
  border-radius: 10px;
  height: 88px;
  background: var(--background-red);
}

.list-social-medias {
  display: flex;
  align-items: center;
  gap: 17px;
}

.list-social-medias li {
  list-style: none;
}

.list-social-medias li img {
  min-width: 40px;
  max-width: 40px;
  max-height: 40px;
  min-height: 40px;
}

.rodape-menu {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}

.menu-list-rodape {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.rodape-menu-lista-desktop,
.selos-rodape-menu {
  display: flex;
  justify-content: space-between;
}

.rodape-menu-lista-desktop {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  margin-right: 80px;
}

.rodape-lista-mobile {
  display: none;
  flex-direction: column;
}

.rodape-menu-lista-mobile {
  display: flex;
  border: 2px solid #DADADA;
  border-radius: 8px;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
}

.menu-lista-mobile-topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
}

.menu-lista-mobile-topo .lista-open {
  width: 24px;
  color: #000;
}

.lista-open span {
  justify-content: center;
  transform: rotate(0deg);
  transition: var(--transition-02);
}

.menu-lista-mobile-topo.rotate .lista-open span {
  transform: rotate(180deg);
}

.rodape-menu-lista-mobile span {
  font-weight: bold;
}

.rodape-menu-lista-mobile .sub-list-mobile {
  height: 0%;
  max-height: 0px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 0 16px;
  transition: var(--transition-02);
  overflow-y: hidden;
}

.rodape-menu-lista-mobile .sub-list-mobile.open {
  height: 100%;
  max-height: 1000px;
  padding: 0 16px 16px;
}

.selos-rodape-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-rodape {
  display: flex;
  flex-direction: column;
  min-width: 123px;
  width: auto;
  padding: 6px 0;
}

.sub-list-rodape {
  display: flex;
  flex-wrap: wrap;
  min-width: 127px;
  width: 100%;
  gap: 16px;
}

.list-rodape .navigationLink {
  font-weight: bold;
  margin-bottom: 20px;
}

.list-rodape li {
  display: flex;
  min-width: 123px;
  min-height: 19px;
  width: 100%;
}

.list-rodape li a {
  width: 100%;
  font-size: 14px;
}

.sub-list-rodape li a:hover {
  text-decoration: underline;
}

.copy-rodape {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo-rodape {
  margin-bottom: 30px;
}

.logo-rodape img {
  border-radius: 8px;
}

.copy-rodape p {
  text-align: center;
}

@media (max-width: 720px) {

  .header-desktop,
  .menuMain,
  .instagram-post:nth-child(6),
  .rodape-menu-lista-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
  }

  .instagram-posts {
    display: grid;
    grid-template-areas:
      "imgA imgA"
      "imgA imgA"
      "imgB imgB"
      "imgB imgB"
      "imgC imgC"
      "imgC imgC"
      "imgD imgE";
    gap: 8px;
  }

  .newsletter-email,
  .socialMedias {
    flex-direction: column;
    justify-content: center;
    min-height: 142px;
    gap: 17px;
  }

  .menu-list-rodape {
    grid-template-columns: 1fr;
  }

  .newsletter {
    flex-direction: column;
    padding: 30px;
    gap: 10px;
  }

  .newsletter-email {
    align-items: center;
  }

  .newsletter button,
  .newsletter input,
  .newsletter-text {
    max-width: 100%;
  }

  .newsletter-input {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .rodape-lista-mobile {
    display: flex;
  }
}