* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ebedf2;
  --swiper-theme-color: #000;
  list-style: none;
}

/* headerMid */

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  padding-top: 8px;
}

.header button {
  background: transparent;
}

.header .swiper-pitchbar {
  margin: 10px auto;
}

.header-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 21px 31px;
  background: var(--background-red);
  /* box-shadow: 0 0 110px 16px #96C121; */
}

.header-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 21px 31px;
  background: var(--background-red);
  flex-direction: column;
}

.logo {
  cursor: pointer;
  max-width: 150px;
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.container-search-desktop {
  flex: 1 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(50% + 200px);
  gap: 20px;
}

.mobile-center-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.logo div {
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 18px;
}

.logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo strong {
  width: 100%;
  font-size: 29px;
  color: #fff;
  cursor: pointer;
}

.header-form {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 418px;
  width: 100%;
  background-color: white;
  height: 36px;
  border-radius: 10px;
}

.header-form button {
  position: relative;
  min-width: 36px;
  height: 36px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-form input[type="search"] {
  width: 100%;
  padding: 8px 16px;
  background: transparent;
}

.header-form input::placeholder {
}

.header-form input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.user span,
.user a,
.user p {
  color: #fff;
}

.user-acount {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuMain {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: white;
}

.menuMain .navigation-item {
  position: static;
  display: flex;
  margin-top: 10px;
  width: 243px;
  height: 48px;
  padding: 12px 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  transition: var(--transition-05);
}

.navigation-item:hover {
  background: var(--background-red);

  .navigationLink {
    color: #fff;
  }
}

.header-navigation__black {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  right: 0;
}

.navigation-item {
  position: relative;
}

.navigation-item:hover .sub-container {
  display: block;
}

.sub-container > .navigation-container__dropdown {
  display: flex;
  /* justify-content: center; */
}

.navigation-container__dropdown {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  max-height: 430px;
  max-width: 1202px;
  padding: 16px;
}

.sub-container {
  position: absolute;
  left: 0;
  top: 58px;
  display: none;
  padding: 33px 0 40px;
  max-height: 430px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.06);
  z-index: 100;
  border-radius: 0 0 10px 10px;
}

.navigation-dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 429px;
  width: 242px;
  list-style: none;
}

.navigation-dropdown li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-dropdown a {
  margin-bottom: 10px;
  padding: 12px 16px;
  transition: var(--transition-05);
  color: var(--background-red);
}

.navigation-dropdown a:hover {
  font-size: 19px;
}

.sub-container-dropdown a {
  padding: 0;
  color: black;
}

.instashop-topo {
  display: flex;
  justify-content: space-between;
}

.instashop-topo button {
  max-width: 183px;
  width: 100%;
  height: 40px;
  padding: 8px 0px;
  border-radius: 10px;
  background: var(--background-red);
}

.instagram-posts {
  display: grid;
  grid-template-areas:
    "imgA imgA imgA imgB imgB imgB imgC imgC imgC imgD"
    "imgA imgA imgA imgB imgB imgB imgC imgC imgC imgE"
    "imgA imgA imgA imgB imgB imgB imgC imgC imgC imgF";
  grid-row-gap: 14px;
  grid-column-gap: 17px;
}

.instagram-post:nth-child(1) {
  grid-area: imgA;
}

.instagram-post:nth-child(2) {
  grid-area: imgB;
}

.instagram-post:nth-child(3) {
  grid-area: imgC;
}

.instagram-post:nth-child(4) {
  grid-area: imgD;
}

.instagram-post:nth-child(5) {
  grid-area: imgE;
}

.instagram-post:nth-child(6) {
  grid-area: imgF;
}

.instagram-posts img {
  display: block;
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
}

.rodape {
  margin-bottom: 40px !important;
}

.newsletter {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 146px;
  padding: 37px 70px;
  background: var(--background-red);
}

.newsletter button {
  color: var(--swiper-theme-color);
}

.socialMedias {
  display: flex;
  margin-top: 20px !important;
  align-items: center;
  padding: 24px 70px;
  border-radius: 10px;
  height: 88px;
  background: var(--background-red);
}

@media (max-width: 720px) {
  .header-desktop,
  .menuMain {
    display: none;
  }

  .header-mobile {
    display: flex;
  }

  .instagram-posts {
    display: grid;
    grid-template-areas:
      "imgA imgA"
      "imgA imgA"
      "imgB imgB"
      "imgB imgB"
      "imgC imgC"
      "imgC imgC"
      "imgD imgE";
    gap: 8px;
  }

  .instagram-post:nth-child(6) {
    display: none;
  }
}
