:root {
  --background-color: #fff;
  --text-color: #000;
  --background-red: #FF3131;
  --transition-02: all 0.2s ease;
  --transition-05: all 0.5s ease;
}

body a {
  text-decoration: none;
  color: var(--text-color);
}

.body-espacamento {
  padding: 0 16px;
}

.containerMain {
  width: 100%;
  max-width: 1245px;
  margin: 0 auto;
}

.material-symbols-outlined,
.fav {
  font-size: 27px !important;
  display: flex;
  align-items: center;
}

button, input, a {
  transition: var(--transition-05);
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

input::placeholder {
  color: var(--swiper-theme-color)
}

img {
  cursor: pointer;
}

.Main {
  margin-top: 80px !important;
}

/* button:hover, .swiper-slide a:hover {
  opacity: 0.8;
} */